<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

		<title>Wilkommen, bienvenue, and welcome to Heroku!</title>

    <!-- Bootstrap core CSS -->
		{{ js_resources|indent(4)|safe }}

     {{ css_resources|indent(4)|safe }}

     {{ script|indent(4)|safe }}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
	<body>
		<div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>Closing stock prices from past month!</h2>
					<form action="/">
	  					Ticker name:<br>
	  					<input type="text" name="ticker_name" value={{ticker_name}}>
	  					<br>
	  					<input type="submit" value="Submit">
					</form>
        </div>
      </div>
				{{ div|safe }}
		</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>
